<html>

<head>

    <title>Booking kod Jelene i Danice</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="bookpage.css">
    <link rel="stylesheet" type="text/css" href="startpage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class = "navigation-area">
        <ul class = "nav navbar">
            <li class = "menu"><a href="homepage.html">Početna</a></li>
            <li class = "menu"><a href="">Preporučeno</a></li>
            <li class = "menu"><a href="bookpage.html">Rezerviši sada</a></li>
            <li class = "menu"><a href="reservations.html">Moje rezervacije</a></li>
            <li class = "menu"><a href="myapartments.html">Moji apartmani</a></li>
            <li class = "menu" style="float:right"><a href="startpage.html">Prijavi se</a></li>
            <li class = "menu" style="float:right"><a href="">Profil</a></li>
        </ul>
    </div>

    <div class = "reservations-details">
        <div class = "apartment-details">
            <div class = "image-column">
                <div class ="image-source">
                </div>
            </div>
            <div class = "details-column">
                <div class = "one-info">
                    <p>Vreme ulaska:</p>
                    <p>9</p>
                </div>
                <div class = "one-info">
                    <p>Vreme izlaska:</p>
                    <p>9</p>
                </div>
                <div class = "one-info">
                    <p>Broj ljudi:</p>
                    <p>9</p>
                </div>
                <div class = "one-info">
                    <p>Broj soba:</p>
                    <p>9</p>
                </div>
                <div class = "one-info">
                    <p>Oglas izdaje: </p>
                    <p>Pera Peric</p>
                </div>
            </div>
            <div class = "ap-desc">
                <p class="title-desc">OPIS APARTMANA</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum est justo, sagittis efficitur magna scelerisque ac. Vivamus eleifend, nunc ut porttitor convallis, orci orci sollicitudin mi, et hendrerit ipsum massa sit amet velit. Donec aliquam lectus quis bibendum consequat. Maecenas et sollicitudin mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut volutpat magna. Vivamus consectetur nulla turpis, eget fermentum nisi scelerisque ut. Quisque in enim dignissim, rhoncus justo et, vestibulum dui. Sed luctus malesuada ligula sit amet faucibus. Proin scelerisque placerat sem vitae lobortis.

                    Vestibulum dignissim orci ut libero luctus, vitae vehicula nibh gravida. Phasellus non velit vitae eros imperdiet venenatis vitae at metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus tincidunt nec dui ac faucibus. Integer consectetur ipsum id purus posuere vehicula. Pellentesque vitae viverra lacus. Suspendisse consectetur lectus risus, id interdum justo tempus vitae. Fusce sollicitudin sed justo id eleifend. Nunc mi magna, dignissim quis dolor non, blandit dapibus ante. Aenean lectus tellus, ullamcorper sit amet augue eget, suscipit dapibus lectus. Nulla feugiat lobortis ornare. Donec tincidunt dolor sed mauris sollicitudin elementum. Vivamus pharetra imperdiet magna, vitae mattis orci vehicula ultrices. Nam lobortis libero eget condimentum tristique.</p>
            </div>
        </div>

        <div class = "other-image-line">
            <div class = "one-image-row">
                <div class = "one-image">

                </div>
                <div class = "one-image">
                    
                </div>
                <div class = "one-image">
                    
                </div>

            </div>
            <div class = "one-image-row">
                <div class = "one-image">

                </div>
                <div class = "one-image">
                    
                </div>
                <div class = "one-image">
                    
                </div>

            </div>
            <div class = "one-image-row">
                <div class = "one-image">

                </div>
                <div class = "one-image">
                    
                </div>
                <div class = "one-image">
                    
                </div>

            </div>
            <div class = "one-image-row">
                <div class = "one-image">

                </div>
                <div class = "one-image">
                    
                </div>
                <div class = "one-image">
                    
                </div>

            </div>
        </div>

        <button class="submit">Rezerviši?</button>

        <div class = "comments">
            <p>Komentari:</p>
            <div class = "comment-row">
                <div class = "comment-from">
                    <a href = "">Neko Nekic</a>
                </div>
                <div class = "comment-desc">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum est justo, sagittis efficitur magna scelerisque ac. Vivamus eleifend, nunc ut porttitor convallis, orci orci sollicitudin mi, et hendrerit ipsum massa sit amet velit. Donec aliquam lectus quis bibendum consequat. Maecenas et sollicitudin mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut volutpat magna. Vivamus consectetur nulla turpis, eget fermentum nisi scelerisque ut. Quisque in enim dignissim, rhoncus justo et, vestibulum dui. Sed luctus malesuada ligula sit amet faucibus. Proin scelerisque placerat sem vitae lobortis.</p>
                </div>

            </div>
            <div class = "comment-row">
                <div class = "comment-from">
                    <a href = "">Neko Nekic</a>
                </div>
                <div class = "comment-desc">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum est justo, sagittis efficitur magna scelerisque ac. Vivamus eleifend, nunc ut porttitor convallis, orci orci sollicitudin mi, et hendrerit ipsum massa sit amet velit. Donec aliquam lectus quis bibendum consequat. Maecenas et sollicitudin mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut volutpat magna. Vivamus consectetur nulla turpis, eget fermentum nisi scelerisque ut. Quisque in enim dignissim, rhoncus justo et, vestibulum dui. Sed luctus malesuada ligula sit amet faucibus. Proin scelerisque placerat sem vitae lobortis.</p>
                </div>

            </div>
            <div class = "comment-row">
                <div class = "comment-from">
                    <a href = "">Neko Nekic</a>
                </div>
                <div class = "comment-desc">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum est justo, sagittis efficitur magna scelerisque ac. Vivamus eleifend, nunc ut porttitor convallis, orci orci sollicitudin mi, et hendrerit ipsum massa sit amet velit. Donec aliquam lectus quis bibendum consequat. Maecenas et sollicitudin mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut volutpat magna. Vivamus consectetur nulla turpis, eget fermentum nisi scelerisque ut. Quisque in enim dignissim, rhoncus justo et, vestibulum dui. Sed luctus malesuada ligula sit amet faucibus. Proin scelerisque placerat sem vitae lobortis.</p>
                </div>

            </div>
            <div class = "comment-row">
                <div class = "comment-from">
                    <a href = "">Neko Nekic</a>
                </div>
                <div class = "comment-desc">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum est justo, sagittis efficitur magna scelerisque ac. Vivamus eleifend, nunc ut porttitor convallis, orci orci sollicitudin mi, et hendrerit ipsum massa sit amet velit. Donec aliquam lectus quis bibendum consequat. Maecenas et sollicitudin mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut volutpat magna. Vivamus consectetur nulla turpis, eget fermentum nisi scelerisque ut. Quisque in enim dignissim, rhoncus justo et, vestibulum dui. Sed luctus malesuada ligula sit amet faucibus. Proin scelerisque placerat sem vitae lobortis.</p>
                </div>

            </div>
            <div class = "comment-row">
                <div class = "comment-from">
                    <a href = "">Neko Nekic</a>
                </div>
                <div class = "comment-desc">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum est justo, sagittis efficitur magna scelerisque ac. Vivamus eleifend, nunc ut porttitor convallis, orci orci sollicitudin mi, et hendrerit ipsum massa sit amet velit. Donec aliquam lectus quis bibendum consequat. Maecenas et sollicitudin mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut volutpat magna. Vivamus consectetur nulla turpis, eget fermentum nisi scelerisque ut. Quisque in enim dignissim, rhoncus justo et, vestibulum dui. Sed luctus malesuada ligula sit amet faucibus. Proin scelerisque placerat sem vitae lobortis.</p>
                </div>

            </div>
            <div class = "comment-row">
                <div class = "comment-from">
                    <a href = "">Neko Nekic</a>
                </div>
                <div class = "comment-desc">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum est justo, sagittis efficitur magna scelerisque ac. Vivamus eleifend, nunc ut porttitor convallis, orci orci sollicitudin mi, et hendrerit ipsum massa sit amet velit. Donec aliquam lectus quis bibendum consequat. Maecenas et sollicitudin mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut volutpat magna. Vivamus consectetur nulla turpis, eget fermentum nisi scelerisque ut. Quisque in enim dignissim, rhoncus justo et, vestibulum dui. Sed luctus malesuada ligula sit amet faucibus. Proin scelerisque placerat sem vitae lobortis.</p>
                </div>

            </div>
            <div class = "leave-comment">
                <p>Ako ste posetili ovaj apartman, ostavite Vaše utiske</p>
                <input type="text" class = "add-comment">
                
                <div class="grade">
                <p>Ocena apartmana:</p> 
                <div class = "col-grades">
                    <div class = "col-grade">
                        <input type="radio"  id="grade"  name="grade" value="Nedovoljan">
                        <p>Nedovoljan</p>
                    </div>
                    <div class = "col-grade">
                        <input type="radio" id="grade"  name="grade" value="Dovoljan">
                        <p>Dovoljan</p>
                    </div>                    
                    <div class = "col-grade">
                        <input type="radio" id="grade"  name="grade" value="Dobar">
                        <p>Dobar</p>
                    </div>
                    <div class = "col-grade">
                        <input type="radio" id="grade"  name="grade" value="Vrlo dobar">
                        <p>Vrlo dobar</p>
                    </div>
                    <div class = "col-grade">
                        <input type="radio" id="grade"  name="grade" value="Odličan">
                        <p>Odličan</p>
                    </div>
                 </div>
            </div>
            <button class="submit-comment">Ostavi komentar</button>
        </div>
            </div>
        </div>
    
    </div>
</body>

</html>


		
<div class = "reservations-details">
    <div class = "apartment-details">
        <div class = "image-column">
            <div>
                <img :src="pictures[0]" class = "image-source" alt = "Glavna slika">
            </div>
        </div>
        <div class = "details-column">
            <div class = "one-info">
                <p>Vreme ulaska:</p>
                <p>{{checkInTime}}</p>
            </div>
            <div class = "one-info">
                <p>Vreme izlaska:</p>
                <p>{{checkOutTime}}</p>
            </div>
            <div class = "one-info">
                <p>Broj ljudi:</p>
                <p>{{numOfGuests}}</p>
            </div>
            <div class = "one-info">
                <p>Broj soba:</p>
                <p>{{numOfRooms}}</p>
            </div>
            <div class = "one-info">
                <p>Cena po noći: </p>
                <p>{{costForNight}} {{currency}}</p>
            </div>
        </div>
        <div class = "ap-desc">
            <p class="title-desc">OPIS APARTMANA</p>
            <p>{{apartmentDesc}}</p>
            </div>
    </div>

    <div class = "other-image-line">
        <div class = "one-image-row" v-for='i in numOfRows' :key='i'>
            <div v-for='j in 3' :key='j'>
                <img class = "one-image" :src="pictures[j+(i-1)*2]" >
            </div>

        </div>
    </div>
    <div v-bind:hidden="canReserve===false">
    <button  class="submit">Rezerviši?</button>
    </div>
    <div v-bind:hidden="canEdit===false">
    <button  class="submit">Izmeni apartman?</button>
    </div>
    <div class = "comments">
        <p>Komentari:</p>
        <div class = "comment-row"  v-for="c in comments">
            <div class = "comment-from">
                <a href = "">{{c.guest.name}} + {{c.comments.guest.surname}} </a>
            </div>
            <div class = "comment-desc">
                 <p> {{c.texxt}} </p>
             </div>
        </div>
        <div class = "leave-comment" >
            <p>Ako ste posetili ovaj apartman, ostavite Vaše utiske</p>
            <input type="text" class = "add-comment">
            
            <div class="grade">
            <p>Ocena apartmana:</p> 
            <div class = "col-grades">
                <div class = "col-grade">
                    <input type="radio"  id="grade"  v-model="grade" name="grade" value="Nedovoljan">
                    <p>Nedovoljan</p>
                </div>
                <div class = "col-grade">
                    <input type="radio" id="grade" v-model="grade" name="grade" value="Dovoljan">
                    <p>Dovoljan</p>
                </div>                    
                <div class = "col-grade">
                    <input type="radio" id="grade" v-model="grade" name="grade" value="Dobar">
                    <p>Dobar</p>
                </div>
                <div class = "col-grade">
                    <input type="radio" id="grade" v-model="grade" name="grade" value="Vrlo dobar">
                    <p>Vrlo dobar</p>
                </div>
                <div class = "col-grade">
                    <input type="radio" id="grade" v-model="grade" name="grade" value="Odlican">
                    <p>Odličan</p>
                </div>
             </div>
        </div>
        <button class="submit-comment" v-on:click="leaveComment">Ostavi komentar</button>
    </div>
 
    </div>


    
    <div class="form-part" v-bind:hidden="next==true">
        <h2>Dodajte novi apartman</h2>
        <div class="form-apt" v-bind:hidden="next==true">
            <div class="col-add">
            <p class = info-apt>Naziv</p>
            <input type="text" class = "details" v-model="apartmentName">
            <p class = "info-apt">Tip apartmana</p>
            <div class = "col-type-radio">
                <div class = "col-date">
                    <input type="radio" class = "radio-apt" name="sortbydate" value="Najnovije" v-model="apartmentType">
                    <p class = "sortbydate-font">Soba</p>
                </div>
                <div class = "col-date">
                    <input type="radio" class = "radio-apt" name="sortbydate" value="Najstarije" v-model="apartmentType">
                    <p class = "sortbydate-font">Ceo apartman</p>
                </div>
            </div>
            <p class = info-apt>Broj gostiju</p>
            <input type="number" class = "details" v-model="guestsNumber">
            <p class = info-apt>Država</p>
            <input type="text"  class = "details" v-model="country" >
            <p class = info-apt>Mesto</p>
            <input type="text" class = "details" v-model="state">
            </div>
            <div class="col-add">
            <p class = info-apt>Cena</p>
            <input type="text" class = "details" v-model="price">
            <p class = "info-apt">Valuta</p>
            <div class = "col-type-radio">
                <div class = "col-date">
                    <input type="radio" class = "radio-apt" name="valuta" value="Najnovije" v-model="currency">
                    <p class = "sortbydate-font">RSD</p>
                </div>
                <div class = "col-date">
                    <input type="radio" class = "radio-apt" name="valuta" value="Najstarije" v-model="currency">
                    <p class = "sortbydate-font">EUR</p>
                </div>
            </div>            
        
            <p class = "info-apt">Vreme prijave</p>
            <input type="text" class = "details" v-model="applicationTime">
            <p class = "info-apt">Vreme odjave</p>
            <input type="text" class = "details" v-model="checkOutTime">
            </div>
            <div v-bind:hidden = "next == true">
            <button type="button" class="submit-apt" v-on:click="NextButton" >Dalje</button>
            </div> 
        </div>
    </div>
        <div class="form-part-pics" v-bind:hidden="next==false">
        <div class="apt-images">
            <p class="info-apt">Oznacite fotografije apartmana:</p>
            <input type="file" class="details">
        </div>
        <div class = "apt-stuff">
            <p class= "info-apt">Dodajte stvari koje se nalaze u apartmanu: </p>
            <input type="text" class="details">
            <button class="submit">Dodaj</button>
        </div>
        </div>



</div>




<div>
    <div v-bind:hidden="next==true">
    <div class="form-part" >
    <h2>Dodajte novi apartman</h2>
    <div class="form-apt">
        <div class="col-add">
        <p class = info-apt>Naziv</p>
        <input type="text" class = "details" v-model="apartmentName">
        <p class = "info-apt">Tip apartmana</p>
        <div class = "col-type-radio">
            <div class = "col-date">
                <input type="radio" class = "radio-apt" name="sortbydate" value="Najnovije" v-model="apartmentType">
                <p class = "sortbydate-font">Soba</p>
            </div>
            <div class = "col-date">
                <input type="radio" class = "radio-apt" name="sortbydate" value="Najstarije" v-model="apartmentType">
                <p class = "sortbydate-font">Ceo apartman</p>
            </div>
        </div>
        <p class = info-apt>Broj gostiju</p>
        <input type="number" class = "details" v-model="guestsNumber">
        <p class = info-apt>Država</p>
        <input type="text"  class = "details" v-model="country" >
        <p class = info-apt>Mesto</p>
        <input type="text" class = "details" v-model="state">
        </div>
        <div class="col-add">
        <p class = info-apt>Cena</p>
        <input type="text" class = "details" v-model="price">
        <p class = "info-apt">Valuta</p>
        <div class = "col-type-radio">
            <div class = "col-date">
                <input type="radio" class = "radio-apt" name="valuta" value="Najnovije" v-model="currency">
                <p class = "sortbydate-font">RSD</p>
            </div>
            <div class = "col-date">
                <input type="radio" class = "radio-apt" name="valuta" value="Najstarije" v-model="currency">
                <p class = "sortbydate-font">EUR</p>
            </div>
        </div>            
    
        <p class = "info-apt">Vreme prijave</p>
        <input type="text" class = "details" v-model="applicationTime">
        <p class = "info-apt">Vreme odjave</p>
        <input type="text" class = "details" v-model="checkOutTime">
        </div>
        <div v-bind:hidden = "next == true">
        <button type="button" class="submit-apt" v-on:click="NextButton" >Dalje</button>
        </div> 
    </div>
    </div>
    </div>
    <div class="form-part-pics" v-bind:hidden="next==false">
    <div class="apt-images">
        <p class="info-apt">Oznacite fotografije apartmana:</p>
        <input type="file" class="details">
    </div>
    <div class = "apt-stuff">
        <p class= "info-apt">Dodajte stvari koje se nalaze u apartmanu: </p>
        <input type="text" class="details">
        <button class="submit">Dodaj</button>
    </div>

    </div> 
</div>