

body {
    position: relative;
    font-size: 14px;
    background: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: scroll;
    margin: 0 auto;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../images/bora-bora-sunset.jpg);
}



.bg-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-window {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}


.navigation-area{
  width: 100%;
  position: fixed;
  top: 0;
  height: 50px;
  border-bottom: #fff;
  background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
}

ul {    
  list-style-type : none;
  margin : 0;
  padding : 0;
  width: 100%;
  height: 100%;
  overflow : hidden;
  background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
}

li{
  float: left;
  height: 100%;
}

li a {
    
  display: block;
  color: white;
  height: 100%;
  text-align: center;
  padding: 12px 13px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}

li a:hover {
  background: -webkit-linear-gradient(left, #E0B1CB, #BE95C4);
}

input, button{
    border: none;
    outline: none;
    background: none;
}

.page-login{
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 700px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.form{
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.login-h1{
    width: 100%;
    font-size: 25px;
    margin-bottom:40px;
    text-align: center;
    text-transform: uppercase;
    
}

.login-label{
    display: block;
    width: 260px;
    margin: 30px auto 0;
    text-align: center;
}

.login-label span{
    font-size: 14px;
    font-weight: 600;
    color: #5E548E;
    text-transform: uppercase;
}

.form-part {
  width: 1000px;
  height: fit-content;
  opacity: 0.9;
  margin-bottom: 20px;
  margin-top: 70px;
  border-radius: 10px;
  align-content: center;
  background-color: #fff;
  box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.login-p {
  color: white;
}
.login-input {
    display: block;
    width: 100%;
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit{
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
}


.submit-add-apt{
    
    display: block;
    width: 260px;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    text-transform: uppercase;
    color: #fff;
    
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
}
.submit-add-apt:hover{
    background: -webkit-linear-gradient(left, #E0B1CB, #BE95C4);
}

.submit:hover{
    background: -webkit-linear-gradient(left, #E0B1CB, #BE95C4);
}

.sub-page{
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
}

.page-login.s-signup .sub-page{
    -webkit-transform:translate3d(-640px, 0, 0);
        transform:translate3d(-640px, 0, 0);
}

.bground{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.bground:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url(../images/bora-bora-sunset.jpg);
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  .bground:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
  }
  
.page-login.s-signup .bground:before{
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
  }

  
.bground-text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 10px;
    text-align: center;
    color: #fff;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  .bground-text .login-h1{
    margin-bottom: 10px;
    font-weight: normal;
    color: white;
  }
  
  .bground-text .login-p{
    font-size: 14px;
    line-height: 1.5;
  }
  
  .page-login.s-signup .bground-text.m-up{
    -webkit-transform:translateX(520px);
            transform:translateX(520px);
  }
  
  .bground-text.m-in{
    -webkit-transform:translateX(-520px);
            transform:translateX(-520px);
  }
  
  .page-login.s-signup .bground-text.m-in{
    -webkit-transform:translateX(0);
            transform:translateX(0);
  }
  
  
  .sign-in{
    padding-top: 65px;
    -webkit-transition-timing-function:ease-out;
            transition-timing-function:ease-out;
  }
  
  .bground.s-signup .sign-in{
    -webkit-transition-timing-function:ease-in-out;
            transition-timing-function:ease-in-out;
    -webkit-transition-duration:1.2s;
            transition-duration:1.2s; 
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
  }
  
  .bground-btn{
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 30px;
  }
  
  .bground-btn:after{
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .bground-btn .m-up{
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition:-webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;;
  }

  
  .bground-btn .m-in{
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition:-webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;;
  }
  
  .bground-btn span.m-in{
    -webkit-transform:translateY(-72px);
            transform:translateY(-72px);
  }
  
  .page-login.s-signup .bground-btn span.m-in{
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
  
  .page-login.s-signup .bground-btn span.m-up{
    -webkit-transform:translateY(72px);
            transform:translateY(72px);
  }
  
  .sign-up{
    -webkit-transform:translate3d(-900px, 0, 0);
            transform:translate3d(-900px, 0, 0);
  }
  
  .page-login.s-signup .sign-up{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }

h1,h2,h3,h4,h5,h6 { 
    margin-top: 15px;
	color:#222222;
    text-transform: uppercase;
    text-align: center;
}

.save-button {
    
    margin: 15px;
    width: 150px;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
    font-size: 15px;
    cursor: pointer;
}
.box
{
    display: flex;
    margin-top: 50px;
    position: absolute;
    right: 200px;
}

.navigation-area{
    width: 100%;
    position: fixed;
    height: 50px;
    z-index: 99;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
}

ul {    
    list-style-type : none;
    margin : 0;
    padding : 0;
    width: 100%;
    height: 100%;
    overflow : hidden;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
  }

  li{
    float: left;
    height: 100%;
  }
  
  li a {
    display: block;
    color: white;
    height: 100%;
    text-align: center;
    padding: 12px 13px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
  }
  
  li a:hover {
    background: -webkit-linear-gradient(left, #E0B1CB, #BE95C4);
  }

p {
	margin: 0;
	color:#666666;
	font-size:15px;
}

.booking-section {
    position: relative;
    height: 200px;
    width: 1200px;
    opacity: 0.9;
    margin-top: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    align-content: center;
    background-color: #fff;
    box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

label {
    display: block;
    width: 260px;
    margin: 5px 5px 5px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
}


.amenity-label {
    display: block;
    width: 260px;
    margin: 5px 5px 5px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: left;
    text-transform: capitalize;
}

.input-apt {
    width: 250px;
}
label span{
    font-size: 15px;
    font-weight: 600;
    color: #5E548E;
    text-transform: uppercase;
}

.number {
    width: 50px;
}
input{
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 0;
    position: relative;
    border: transparent;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-input:focus {
    
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 0;
    position: relative;
    border: none;
    outline: none;
    background: none;
    border: transparent;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input:focus {
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 0;
    position: relative;
    border: none;
    outline: none;
    background: none;
    border: transparent;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.row {
    display: flex;
}
.column {
    margin: 40px 0px 40px 40px;
    width: 200px;
}


.add_btn {
    display: block;
    margin: 0 auto;
    width: 260px;   
    text-transform: uppercase;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
    font-size: 15px;
    cursor: pointer;

}

.submit-login {
    
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 260px;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
    font-size: 15px;
    cursor: pointer;
 
}


.autocomplete-results {
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
    height: 120px;
    overflow: auto;
  }

  .autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 2px;
    cursor: pointer;
  }

  .autocomplete-result:hover {
    background-color: white;
    color: black;
}

.submit-reg {
    
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 260px;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
    font-size: 15px;
    cursor: pointer;
    margin-top: 40px;
}

.submit {
    display: block;
    margin-top: 30px;
    margin-left:350px;
    width: 260px;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
    font-size: 15px;
    cursor: pointer;
}

.form_button {
    display: block;
    margin: 0 auto;
    width: 260px;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
    font-size: 15px;
    cursor: pointer;
}

.form_apt {
    align-content: center;
}

.filter-aparments-btn {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
    font-size: 15px;
    cursor: pointer;
}

.submit:hover {
    background: -webkit-linear-gradient(left, #E0B1CB, #BE95C4);
  }


 .destinations-show {
      width: 1000px;
      height: 400px;
      opacity: 0.9;
      margin: 70px;
      border-radius: 10px;
      align-content: center;
      background-color: #fff;
      box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }

  .img-row {
      display: flex;
      align-content: center;
  }

  .spain {
    margin: 10px;
    width: 310px;
    border-radius: 10px;
    height: 200px;    
    object-fit: cover;
    background-size: contain;

  }

  .italy {    
    margin: 10px;
    width: 310px;
    border-radius: 10px;
    height: 200px;    
    object-fit: cover;
    background-image: url("italy.jpg");
    background-size: contain;
}

.uk {
    margin: 10px;
    width: 310px;
    border-radius: 10px;
    height: 200px;    
    background-image: url("uk.jpg");
    background-size: contain;
}

.col-profile-pic {
    width: 200px;   
    margin-top: 70px;
    margin-left: 40px;
    margin-bottom:5px;
    border-radius: 30px;
    height: 200px;
}
.profile-image {
    width: 215px;
    height: 205px;
    border-radius: 30px;
}
.cuba {
    margin: 10px;
    width: 310px;
    border-radius: 10px;
    height: 200px;    
    background-image: url("cuba.jpg");
    background-size: contain;
}
.bali {
    margin: 10px;
    width: 310px;
    border-radius: 10px;
    height: 200px;    
    background-image: url("bali.jpg");
    background-size: contain;
}
.zealand {
    margin: 10px;
    width: 310px;
    border-radius: 10px;
    height: 200px;    
    background-image: url("novi-zeland.jpg");
    background-size: contain;
}

.img:hover .uk{
    filter: blur(4px);
}

.img:hover .spain{
    filter: blur(4px);
}

.img:hover .italy{
    filter: blur(4px);
}
.img:hover .cuba{
    filter: blur(4px);
}
.img:hover .zealand{
    filter: blur(4px);
}
.img:hover .bali{
    filter: blur(4px);
}

.img:hover .description {
    visibility: visible;
    position: relative;
    opacity: 40;
}

.description {
    position: relative;
    visibility: collapse;
}

.apartment-block {
    width: 1000px;
    height: 1000px;
    margin-top: 100px;
    opacity: 0.9;
    border-radius: 10px;
    align-content: center;
    background-color: #fff;
    box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.reservations {
    width: 1000px;
    display: table;
    margin-top: 100px;
    opacity: 0.9;
    border-radius: 10px;
    align-content: center;
    background-color: #fff;
    box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


.reservations-booking {
    width: 1200px;
    height: 1000px;
    margin-top: 100px;
    opacity: 0.9;
    border-radius: 10px;
    align-content: center;
    background-color: #fff;
    box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


.filters {
    width: 1000px;
    height: 200px;
    opacity: 0.9;
    margin-top: 70px;
    border-radius: 10px;
    align-content: left;
    background-color: #fff;
    box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.toast {
    display: none; 
    position: fixed; 
    z-index: 99999; 
    width: 100%; 
    text-align: center; 
    top: 2em;}

.toast .message {
    display: inline-block; 
    color: #fff; padding: 5px; 
    border-radius: 5px; 
    box-shadow: 2px 2px 2px #666; 
    -webkit-box-shadow: 2px 2px 2px #666; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: .8em; background: #282324; 
    background-image: -webkit-linear-gradient(linear,left top,left bottom, color-stop(0, #554434), color-stop(1, #282324));
}


.toast .errorToast {
    display: inline-block; 
    color: #fff; padding: 5px; 
    border-radius: 5px; 
    box-shadow: 2px 2px 2px #666; 
    -webkit-box-shadow: 2px 2px 2px #666; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: .8em; background: #282324; 
    background-image: -webkit-linear-gradient(linear,left top,left bottom, color-stop(0, rgb(221, 99, 99)), color-stop(1, #660116));
}


.toast .infoToast {
    display: inline-block; 
    color: #fff; padding: 5px; 
    border-radius: 5px; 
    box-shadow: 2px 2px 2px #666; 
    -webkit-box-shadow: 2px 2px 2px #666; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: .8em; background: #282324; 
    background-image: -webkit-linear-gradient(linear,left top,left bottom, color-stop(0, rgb(235, 232, 104)), color-stop(1, #a5a20d));
}

.apartment-filter {
    width: 1000px;
    height: fit-content;
    opacity: 0.9;
    margin-bottom: 20px;
    margin-top: 70px;
    border-radius: 10px;
    align-content: left;
    background-color: #fff;
    box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


.profile-view-part {
    
    width: 1000px;
    height:550px;
    opacity: 0.9;
    margin-bottom: 20px;
    margin-top: 70px;
    border-radius: 10px;
    align-content: center;
    background-color: #fff;
    box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    
}

.button-save-profile-view {
    margin-top: 90px;
    margin-left: 550px;
}
.sidenav {
    width: 160px; /* Set the width of the sidebar */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .dugmici-izmena {
      margin-top: 70px;
      align-content: right;
      margin-left: 60px;
  }


.side-menu-button {
    display: block;
    width: 150px;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
    font-size: 15px;
    cursor: pointer;
}

.row-reservations {
    display: flex;
    margin-left:40px;
    }



.bydate {
    display: flex;

}

.bycost {
    display: flex;
}

.filter-reservations {
    font-size: 15px;
    text-align: left;
    width: 100px;
    margin: 10px;
}

.sortbydate-font {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin-left: 5px;
}

.col-date {
    display: flex;
    text-align: center;
    align-content: center;
    margin: 5px;
}

.col-filters {
    width: 200px;
    display: flex;
}



.reservation-destination {
    text-align: left;
    margin: 10px;
}

.reservation-image {
    width: 300px;   
    margin: 10px;
    border-radius: 10px;
    height: 200px;
}

.image-source {
    width: 500px;   
    margin: 10px;
    border-radius: 10px;
    height: 350px;
}
.reservation-date {
    margin: 10px;
}

.col-informations {
    margin-top: 80px;


}

.info-reservation {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    margin: 10px;
}



.icons {
    border-color: black;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    align-content: center;
}

.one-button {
    display: flex;
    margin: 10px;
}

.row-pagination {
    display: flex;
}

.active-or-not {
    margin-top: 20px;
    display: flex;
}

.apartment-row {
    display: flex;
    align-content: center;
    height:fit-content;
}

.apartment-name {
    font-size: 17px;
    font-weight: 400;    
    margin-left: 70px;
}

.apartment-column-image {
    align-content: center;
}

.image-apartment {
    margin-top: 20px;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    background-size: contain;
    margin-left: 70px;
}

.more-buttons-ap {
    display: flex;
    margin-left: 70px;
    margin-top: 20px;
}

.one-button-ap {
    display: flex;
    margin-left: 10px;
}

.radio_btns {
    display: flex;
}



.info-apt {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 400px;
    font-weight: 500;
    text-align: center;
    color: #5E548E;
    text-transform: uppercase;
}
.details {
    margin-left: 100px;
    position: relative;
    align-self: center;
    align-content: center;
    width: 250px;
    text-align: center;
}

.form-part-add {
    height: 1500px;
    width: 1000px;
    opacity: 0.9;
    display: block;
    margin-bottom: 20px;
    margin-top: 70px;
    border-radius: 10px;
    align-content: center;
    background-color: #fff;
    box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }


input[type="search"] {
    position: relative;
    align-self: center;
    width: 250px;
    border: none;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
}

.col-add {
    margin-left: 30px;
    align-content: center;
    width: 50%;
    margin-top:40px;
}

.form-apt {
    display: flex;
    height:fit-content;
    margin-top:40px;
    margin-bottom: 20px;
}

.radio-apt {
    width: auto;
}

.col-type-radio {
    display: flex;
    margin-left: 145px;
    align-content: center;
}

.submit-apt {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 260px;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
    font-size: 15px;
    cursor: pointer;

}

.apt-images {
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
}

.form-part-pics {
    width: 1000px;
    height: 800px;
    opacity: 0.9;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    align-content: center;
    background-color: #fff;
    box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

}

.apt-stuff {
    display:flex;
    margin-top: 20px;
    width: fit-content;
}

.username {
    margin-left:30px;
    display: flex;
    margin-right: 0;
    width: 400px;
}



.reservations-details {
    width: 1000px;
    display: table;
    margin-top: 20px;
    position: relative;
    opacity: 0.9;
    border-radius: 10px;
    align-content: center;
    background-color: #fff;
    box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}



.apartment-details {
    align-content: center;
}

.image-source {
    width: 1000px;
    height: 400px;
    background-size: cover;
}


.details-column {
    display: flex;
    width: 900px;
    margin-left: 50px;
    border: #222222;
}


.one-info {
    margin: 10px;
    width: 180px;
    align-content: center;
    text-align: center;
    border: #222222;
}


.ap-desc {
    margin-top: 20px;
    text-align: justify;
    width: 500px;
    margin-left: 250px;
}


.title-desc {
    text-align: center;
}



.other-image-line {
    width: 500px;
    margin-left: 245px;
    display: table;
}

.one-image-row {
    display: flex;
}

.comments {
    margin-left: 20px;
    width: 960px;
}


.leave-comment {
    margin-left: 20px;
    width: 960px;
    margin-top: 10px;
}

.add-comment {
    width: 960px;
    height: 100px;
}
.grade {
    display: flex;
}

.comment-row {
    margin-top: 10px;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

.comment-from {
    margin-left: 10px;
}

.comment-desc {
    margin-left: 10px;
    text-align: justify;
    margin-right: 10px;
}
.one-image {
    border-radius: 10px;
    background-size: cover;
    margin: 10px;
    height: 150px;
    width: 150px;
}


.col-grade {
    display: flex;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
}
.col-grades {
    display: flex;
    text-align: center;
    align-content: center;
    width: 800px;
}

.submit-comment {
    margin-left: 680px;
    display: block;
    width: 260px;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
    font-size: 15px;
    cursor: pointer;

}

.grade {
    display: flex;
}

.username2
{
    margin-left: 70px;
    margin-bottom:15px;
    font-size: 14px;
    font-weight: 600;
    color: #5E548E;
    text-transform: uppercase;
}

.Button{
    margin-left: 70px;
    text-decoration: underline;
    color: #5E548E;
}
.list-of-apartments{
    align-content: center;
    height: fit-content;
}
.errorMessage{
    margin-left: 380px;
    color: red;
    font-size: medium;
    margin-top: 20px;
}
.form-change-pass{
    margin-top:80px;
}



.list-of-amenities {
    align-content: center;
    margin: 20px;
    text-align: center;
    width: 550px;
}

.input-amenity {
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
    border-bottom-style: solid;
    border-width: 0.5px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.submit-amenity {
    display: block;
    margin: 0 auto;
    margin-left: 10px;
    width: 150px;
    border: none;
    outline: none;
    background: none;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
    font-size: 15px;
    cursor: pointer;
}

.input-amenity:focus {
    
    font-size: 15px;
    border-bottom-style: solid;
    border-width: 0.5px;
    margin-left: 20px;
    text-align: left;    
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.single-amenity {
    text-align: left;
    margin-top: 20px;
    margin-left: 150px;
    width: 180px;
}

.amenity {
    display: flex;
    height: 50px;
}

.edit-amenity {
    display: flex;
}

.delete-amenity {
    display: flex;
}

.options-amenity {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}

.add-edit-amenity {
    align-content: left;
    text-align: left;
    margin-top: 40px;
    width: 550px;
    display: flex;
    margin-left: 50px;
}

.add-edit-amenity-text {
    margin-top: 5px;
}
.list-title {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 20px;
}

.amenities {
    width: 600px;
    display: table;
    margin-top: 100px;
    opacity: 0.9;
    border-radius: 10px;
    align-content: center;
    background-color: #fff;
    box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

}
.edit-delete {
    width: 35px;
    height: 35px;
    border-radius: 40px;
    border-style: none;
    
    align-content: center;
    align-items: center;
    margin-left: 5px;
    background: -webkit-linear-gradient(left, #BE95C4, #E0B1CB);
}

.buttons-amenity {
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
}

.edit-amenity-part {
    
    align-content: left;
    text-align: left;
    margin-top: 40px;
    width: 550px;
    display: flex;
    margin-left: 80px;
}

.delete-amenity-part {
    
    align-content: center;
    text-align: left;
    margin-top: 40px;
    width: 550px;
    display: flex;
    margin-left: 80px;
}

.amenity-error {
    color: red;
    margin-left: 150px;
}

.reserve-apartment {
    display: flex;
    margin-left: 245px;
    margin-top: 20px;
}

.date-res {
    margin-left: 10px;
    margin-right: 10px;
}

input[type="search"]::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
    /*Your new styles */
    height: 10px;
    width: 10px;
    background: transparent;
    border: none;
  }

  input[type="search"]::-webkit-search-cancel-button:focus {
    /* Remove default */
    -webkit-appearance: none;
    /*Your new styles */
    height: 10px;
    width: 10px;
    background: transparent;
    border: none;
  }

  
  input[type="search"]::-webkit-search-cancel-button:hover {
    /* Remove default */
    -webkit-appearance: none;
    /*Your new styles */
    height: 10px;
    width: 10px;
    background: transparent;
    border: none;
  }

  .profile-view-button {
    margin-left: 97px;
    margin-top:7px;
    width: 170px;
    border: none;
    outline: none;
    background: none;
    height: 25px;
    border-radius: 30px;
    border-color: transparent;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(left, #5E548E, #E0B1CB);
    font-size: 15px;
    cursor: pointer;
}

 