<html>
<head>
    <meta charset="UTF-8">
    <title>Booking kod Jelene i Danice</title>
    <link rel="stylesheet" href="bookpage.css" />
</head>

<body>
    <div class = "navigation-area">
        <ul class = "nav navbar">
            <li class = "menu"><a href="homepage.html">Početna</a></li>
            <li class = "menu"><a href="">Preporučeno</a></li>
            <li class = "menu"><a href="bookpage.html">Rezerviši sada</a></li>
            <li class = "menu"><a href="reservations.html">Moje rezervacije</a></li>
            <li class = "menu"><a href="myapartments.html">Moji apartmani</a></li>
            <li class = "menu" style="float:right"><a href="startpage.html">Prijavi se</a></li>
            <li class = "menu" style="float:right"><a href="">Profil</a></li>
        </ul>
    </div>


    <div class="profile-view-part">
        <h2>Informacije o profilu</h2>
      <div class="row-reservations">
                     <div class = "col-profile-pic">
                            <div>
                                <img src="marko.jpg" class= "profile-image" alt = "Profile Image">
                            </div>
                        </div>
            <div class="col-informations">
                <div class = "username">
                    <label class="username2">Ime:</label>
                    <div class = "col-filters">
                        <div class = "col-username2">
                        <p >Ime</p>
                        </div>
                </div>
                   
                </div>
                <div class = "username">
                    <label class="username2">Prezime:</label>
                    <div class = "col-filters">
                        <div class = "col-username2">
                        <p>Prezime</p>
                        </div>
                    </div>
                </div>
    
                <div class = "username">
                    <label>Korisnicko ime:</label>
                    <div class = "col-filters">
                        <div class = "col-username2">
                            <p>Korisnicko ime</p>
                        </div>
                    </div>
                </div>
    
                <div class = "username">
                    <label class="username2">Pol:</label>
                    <div class = "col-filters">
                        <div class = "col-username2">
                            <p>Pol</p>
                        </div>
                        <span for="other"  style="width:70px;">Ostalo</span>
                        </td>
                        </tr>
                    </div>
                </div>
                </div>
    
                <div class="dugmici-izmena">
                    <button class="side-menu-button" type="button"> Izmena profila </button>
                    <button class="side-menu-button" type="button"> Promena lozinke </button>
                  </div>
            </div>
            
      
            <div>
                <label>Moje Rezervacije:</label>
                
            </div>
    
            <div>
                <label>Moji apartmani:</label>
            </div>
            
        
            <div class="button-save-profile-view">
            <button type="button" class="save-button"> Sacuvaj izmene </button>
            <button type="button" class="save-button"> Odustani</button>
            </div>

    
        </div>

</body>
</html>


<div class="profile-view-part">
    <h2 v-bind:hidden="editMode==true">Informacije o profilu</h2>
    <h2 v-bind:hidden="editMode!=true">Izmena profila</h2>
  <div class="row-reservations">
                 <div class = "col-profile-pic">
                        <div>
							<img :src="profileImage" class= "profile-image" alt = "Profile Image">
                        </div>
                    </div>
        <div class="col-informations">

        

            <div class = "username">
                <label class="username2">Ime:</label>
                <div class = "col-filters">
                    <div class = "col-username2">
                    <p v-bind:hidden="editMode==true">{{name}}</p>
                    <input v-bind:hidden="editMode!=true" type="text" name = "name" v-model="name">
                    </div>
                </div>
               
            </div>
            <div class = "username">
                <label class="username2">Prezime:</label>
                <div class = "col-filters">
                    <div class = "col-username2">
                    <p v-bind:hidden="editMode==true">{{surname}}</p>
                    <input v-bind:hidden="editMode!=true" type="text" name = "surname" v-model="surname">
                    </div>
                </div>
            </div>

            <div class = "username">
                <label class="username2">Korisničko ime:</label>
                <div class = "col-filters">
                    <div class = "col-username2">
                        <p v-bind:hidden="editMode==true">{{username}}</p>
                        <input disabled v-bind:hidden="editMode!=true" type="text" name = "username" v-model="username">
                    </div>
                </div>
            </div>

            <div class = "username">
                <label class="username2">Pol:</label>
                <div class = "col-filters">
                    <div class = "col-username2">
                        <p v-bind:hidden="editMode==true">{{gender}}</p>
                    </div>
                    <tr v-bind:hidden="editMode!=true" class="radio_button">
                    <td>
                    <input type="radio" id="male" name="gender" value="Muško" v-bind:checked="gender=='Muško'" style="width:70px;">
                    <span for="male" style="width:70px;">Muško</span>
                    </td>
                    <td>
                    <input type="radio" id="female" name="gender" value="Žensko" v-bind:checked="gender=='Žensko'"   style="width:70px;">
                    <span for="female"  style="width:70px;">Žensko</span>
                    </td>
                    <td>
                    <input type="radio" id="other" name="gender" value="Ostalo" v-bind:checked="gender=='Ostalo '"  style="width:70px;">
                    <span for="other"  style="width:70px;">Ostalo</span>
                    </td>
                    </tr>
                </div>
            </div>

            <div class = "username">
            <label class="username2">Moje rezervacije:</label>
            </div>

            <div class = "username">
            <label class="username2">Moji apartmani:</label>
            </div>
            </div>

            
        </div>
        
  
        <div style="margin-top:10px"  v-bind:hidden="isThisMe == false">
        <label class="Button" v-on:click="editProfile">Izmeni profil</label>
        
            
        </div>

        <div  v-bind:hidden="isThisMe == false">
        <label class="Button" v-on:click="changePass">Promeni lozinku </label>
        </div>
        
    
        <div v-bind:hidden="editMode!=true" class="button-save-profile-view">
        <button class="save-button" style="float:left" type="button" v-on:click="UpdateUser"> Sačuvaj izmene </button>
        <button class="save-button" v-on:click="cancelEdit" style="float:left" type="button"> Odustani</button>
        </div>

    </div>